div{
border: 10px solid black;
margin: 10px;
padding: 30%;
}
#first{
background-color: red;
}
#second{
background-color: green;
}
#third{
background-color: blue;
}
#fourth{
background-color: orange;
}
#fifth{
background-color: yellow;
}