.AboutContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(90deg, rgba(33, 33, 33, 0.1) 0%, rgb(26, 23, 23) 100%); */
    background-color: rgba(33, 33, 33, 0.1);
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    max-width: 1120px;
    box-shadow: 0 6px 20px rgba(30, 215, 96, 0.17);
}

.mainAbout{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
