
.mainHeader {
    width: 60%;
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.subHeader {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px auto;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
    text-align: center;
}

.revealCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 960px) {
    .mainHeader {
        font-size: 70px;
        margin-top: -150px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 768px){
    .mainHeader {
        font-size: 50px;
        margin: 0px auto;
    }

    .subHeader {
        font-size: 30px;
    }

}